backend/.env
backend/uploads/
backend/*.log
backend/venv311/
backend/.venv/
backend/nailsdash.db
**/__pycache__/
**/*.pyc
**/.DS_Store
node_modules/
.DS_Store
**/__pycache__/
*.pyc
backend/nailsdash.db
